html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.btn-primary{
  background-color: #A05;
}
.btn-primary:hover{
  background-color: rgb(219, 11, 115);
}
.ans p{
  border: 1px solid #A05;
  padding: 2px 10px;
  border-radius: 15px;
  cursor: pointer;
}
.ans p:hover{
  background-color: #A05;
  color:white;
}

.resultp{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.btn{
  padding: 7px 10px !important ;
  border: none;
  border-radius: 0;
}
.btnn{
  background-color: #A05;
  padding: 7px 15px;
  color: white;
  border: none;
}
/* main{
  width: 100%;
  min-height: 100vh;
  background-color: ghostwhite;
} */

.hero{
  width: 100%;
  min-height: 100vh;
 padding: 50px 0px 50px 0;
}
.bg-dark, .btn-dark{
  background-color: #000000 !important;
}

.form-control{
  box-shadow: none !important;
  border: 1px solid black;
}
.form-control:focus{
  box-shadow: none !important;
  border:1px solid orangered;
}
.card{
  border: none;
  box-shadow: 0 2px 15px rgb(163, 161, 161);
}
.pimg{
  width: 80% !important;
  height: 270px !important;
  margin: auto;
  display: block;
}
.tot{
  color: gray;
}

.nav-link{
  margin-right: 15px;
}

.carti{
  position: relative;

}
.carti span{
  position: absolute;
width: 17px;
height: 17px;
background-color: orangered !important;
font-size: 10px;
border-radius: 50%;
text-align: center;
}

.auth{
width: 100%;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}
.cart , .account{
  width: 100%;
min-height: 100vh;
padding: 100px 0 50px 0;
}

.f-box{
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.inpcart{
  width: 30px;
  padding-left: 8px;
  border: 1px solid orangered;
 
}

td{
  width: 150px !important;
}
.ratt{
  margin-top: 50px !important;
}
.dis{
  cursor: no-drop !important;
}

.cart_Det{
  width: 60px;
  height: 60px;
  object-fit: contain;
}


.search .input-group{
  width: 100%;
 
  border-radius: 30px;
  background: rgb(233, 232, 232,0.5);
  margin: auto;
 
}
 .search .form-control{
  border:0 !important;
  border-radius: 30px !important;
  box-shadow: none !important;
  
  background-color: transparent;
}

.search .input-group-text {
  width: auto;
  background: #A05;
  border: 0 !important;
  color: #fff;
  border-radius: 15px !important;
      box-shadow: none !important;
      padding: 0 12px !important;
      margin: 3px;
  }

  .fa-paper-plane{
    font-size: 15px;
  }
  .msgbox{
    display: flex;
    align-items: center;
    margin-bottom: -30px;
  }
  .msgboxes{
    width: 100%;
    height: 350px;
    overflow-y: auto;
  }

  ::-webkit-scrollbar{
    width: 5px;
  }
  ::-webkit-scrollbar-track{
    background-color: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb{
    background-color: rgb(199, 194, 194);
  }